<!DOCTYPE html>
<html lang="en">

<head>
  {% comment %} <link rel="stylesheet" href="{% static 'css/app.css' %}"> {% endcomment %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <main>
    <div class="main">
        <h1>Are you sure?</h1>
        <form method="POST">
            {% csrf_token %}
            <button>Delete</button>
            <a href={% url "todo_list_list" %}>Cancel </a>
        </form>
    </div>
    
  </main>
</body>

</html>